@import "/Content/Category-type.css";

  .create-new {
        border: none;
        height:110px;
        padding-top:35px;
    }

.non-selected {
    background-color:red !important;
}

.btn.blue.table-tile,
.btn.blue.table-tile:active,
.btn.blue.table-tile:focus {
    background: #808080 !important;
}
.btn.blue.table-tile-selected,
.btn.blue.table-tile-selected:hover,
.btn.blue.table-tile-selected:active,
.btn.blue.table-tile-selected:focus,
 .btn.blue.table-tile:hover {
        background: rgb(85,85,85) !important;
    }
    .btn.blue.table-tile-selected,
    .btn.blue.table-tile-selected:hover {
       cursor:default;
    }

.posDivClosed
{
    margin-bottom:45px !important;
}


    .posDivClosed .footerdiv .enb
    {
        color:white;
        font-weight:bold;
    }
.dashboard-stat .details .desc
{
    text-align:left;
}
.dashboard-stat .details
{
    padding-left:5px;
    padding-right:5px;
}
    .dashboard-stat .details .number
    {
        text-align:left;
    }
