<a href="#CreateOrEdit" data-backdrop="static" data-keyboard="false" data-toggle="modal" class="ActionLink" data-id="0">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 posDivClosed">
        <div class="dashboard-stat grey create-new">
            Create New +
        </div>
    </div>
</a>