<style>
    #pickupItemsTable.dataTables_wrapper {
        height: 700px !important;
    }
    /*
    .modal-dialog {
        width: 90% !important;
    
    }
      */  
</style>
<div class="modal fade" id="model_PickupItems_Popup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">
                    Pickup Items:
                </h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-left:10px;">
                    <label style="font-weight:bold">Enter the quantity you would like to pick up of each item in the "PickUp Qty" Column.</label>
                </div>
                <div class="col-md-12 zeroLeftPadding PaddingClass">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered table-condensed" id="pickupItemsTable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Transaction Id</th>
                                    <th>Grade</th>
                                    <th>Customer</th>
                                    <th>User ID</th>
                                    <th>Item Name</th>
                                    <th>Date Purchased</th>
                                    <th>Date To Serve</th>
                                    <th>Date PickedUp</th>
                                    <th>Ordered</th>
                                    <th>Received</th>
                                    <th>Void</th>
                                    <th>PickUp Qty</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="modal-footer" style="border-top: 0px;">
                    <button type="button" class="btn blue btn-lg default" id="btnProcess" name="btnProcess"><span id="savebtnSpan">Process Pickup</span></button>
                    <button type="button" class="btn default btn-lg" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
