<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    
    
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MSA_AdminPortal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <!--<trace>
      <listeners>C:\Food Service\POS\Admin\DEV\MSA-AdminPortal\Web.config
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>-->
  </system.diagnostics>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="idleAfter" value="500" />
    <add key="timeout" value="600" />
    <add key="warningLength" value="60" />
    <add key="liveServer" value="0" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="localtimezone" value="Eastern Standard Time" />

   <!-- <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=fssposadmindev;AccountKey=/8fWp1PIsK5/xwKxSAShnNL8uUw2ttlpnXFPOWqSFJiOM4EDJ/OgO9hLboQXFGhvoI6duKEGWswpw8X+6N/9Yg==" />-->
    <!--  <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=fssposadmintest;AccountKey=trLQ87BLPVA6XLT2d1q56VFXMAKw0NsL99U75tCCFsnWL+3SFXhMIUsvgDAiFUYBqxipL8HSSGKCaCSsoZLwtw==" />-->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=fssposadmintest;AccountKey=trLQ87BLPVA6XLT2d1q56VFXMAKw0NsL99U75tCCFsnWL+3SFXhMIUsvgDAiFUYBqxipL8HSSGKCaCSsoZLwtw==;EndpointSuffix=core.windows.net" />
    <add key="ErrorLogTableNameDEV" value="POSServiceLogDEV" />
    <add key="ErrorLogTableNameLive" value="POSServiceLogLive" />
    <add key="IsUseLiveErrorTable" value="false" />
    <add key="localtimezone" value="Eastern Standard Time" />

     <add key="ServiceUrl" value="http://register.foodserve.com/Registration.svc?wsdl" />
    <!-- <add key="ServiceUrl" value="http://register-dev.foodserve.com/Registration.svc?wsdl" />-->
    <!--  <add key="ServiceUrl" value="http://localhost:53679/Registration.svc?wsdl" /> -->
    
  <!--  <add key="CustomerPicturesPath" value="https://fssposadmintest.blob.core.windows.net/customerspics/" />-->
    <add key="CustomerPicturesPath" value="https://fssposadmintest.blob.core.windows.net/customerspics/" />
    <add key="RSSLink" value="http://blog.foodserve.com/msa/feed/" />
    <add key="UserIdsCannotBeDuplicated" value="CSG,CSS" />

    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=adminhq;AccountKey=3g7y7jLN3wrtbfR/3c+EI4/AlYBumlBueyPQtP7tlGecG0tVXkylAcIywT5JJjGu5y3dps+1BvJfFIpSt6szfg==" />-->
    
    <!--Email Settings-->
      <add key="ToEmailChangeBankInfo" value="demo@myschoolaccount.com" />
      <add key="SmtpServer" value="email-smtp.us-east-1.amazonaws.com" />
      <add key="UserPassword" value="Ajx3ZVz2EmXdfRwKI1PsZ3DQp5/YlhObQFPyIddD9lW2" />
      <add key="UserMail" value="AKIAJWNNQ72JSTZE62NA" />
      <add key="Port" value="587" />

      <add key="EnableMSASalesTax" value="1" />
      <add key="ProductVersion" value="17.00.11.23321" />
    <add key="POSLiveUrl" value="http://fssposdbapitest.cloudapp.net/" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!--<sessionState mode="Custom" customProvider="DefaultSessionProvider" timeout="20" compressionEnabled="true">
      <providers>
        <add name="DefaultSessionProvider" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="adminhqdev.redis.cache.windows.net" port="6380" accessKey="ARHuFer3O2LqE8r0icqxJFFBWDORwUCFmcTtCkEW5NE" ssl="True" abortConnect="False" throwOnError="true" connectionTimeoutInMilliseconds="5000" operationTimeoutInMilliseconds="1000" retryTimeoutInMilliseconds="3000" />
      </providers>
    </sessionState>-->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <customErrors mode="Off" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    
    
</system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!--
    <staticContent>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>
     -->
    <rewrite />
    </system.webServer>

    <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <contexts>
      <context type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </contexts>
    <!--<providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>-->
  </entityFramework>
  <applicationSettings>
    <MSA_AdminPortal.Properties.Settings>
      <setting name="MSA_AdminPortal_RegistrationService_Registration" serializeAs="String">
        <value>http://fssregistrationdev.cloudapp.net/Registration.svc</value>
      </setting>
    </MSA_AdminPortal.Properties.Settings>
  </applicationSettings>
</configuration>
