<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=fssposadmin;AccountKey=S9mpPweuuDSgusCMc7aN6EVobwHEizhb+vaR34lFAeOM02/LNm2FUmYwo0kavmL1Ragdq8HuNScoLIutgc+tTg=="
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>