


<div class="modal fade modal-scroll" id="alertPreviewPopup" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Alert Preview</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center" style="margin-left:150px;">
                            <div style="overflow-x: auto; width: 967px;" class="mainDiv">
                                <div>
                                    <div style="float: left; padding-left: 100px; padding-top: 35px;">
                                    </div>
                                    <div style="float: right; width: 659px; margin-right: 6px; height: 110px; text-align: center;">
                                        <div style="height: 30px">
                                        </div>
                                        <span id="alertTextspan" class="AlertView">test 2 </span>
                                    </div>
                                    <div style="clear: both">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnClosePreview" type="button" data-dismiss="modal" class="btn">Close</button>
            </div>
        </div>
    </div>
</div>
