body {
}

.btn.blue,
.btn-group .btn.blue.dropdown-toggle,
.btn-group .btn.blue:hover,
.btn-group .btn.blue:focus,
.btn-group .btn.blue:active,
.btn-group .btn.blue.active,
.btn-group .btn.blue.disabled,
.btn-group .btn.blue[disabled] {
    background-color: #1676b8 !important;
}

.formRowSyle {
    padding-bottom: 12px;
}

.formlabels {
    padding-right: 10px;
    text-align: right;
}

.enablebtn {
    background-color: #43bd55;
    color: white !important;
    border: solid 1px #43bd55 !important;
}

    .enablebtn:hover, enablebtn:focus {
        color: white;
    }

.disablebtn {
    background-color: white;
    color: white;
    border: solid 1px #E5E5E5 !important;
}

    .disablebtn:hover, .disablebtn:focus {
        background-color: #43bd55;
        color: white;
    }

.btn.green {
    background-color: #1676B8 !important;
}

    .btn.green:hover,.btn.green:focus {
        background-color: #084c7b !important;
    }

.ms-container {
    width: 455px;
}

::-webkit-input-placeholder {
    color: #f00;
    font-style: italic;
}

::-moz-placeholder {
    color: #f00;
    font-style: italic;
}
/* firefox 19+ */
:-ms-input-placeholder {
    color: #f00;
    font-style: italic;
}
/* ie */
input:-moz-placeholder {
    color: #f00;
    font-style: italic;
}

.has-switch span.switch-primary:hover, .has-switch span.switch-left:hover, .has-switch span.switch-primary:focus, .has-switch span.switch-left:focus, .has-switch span.switch-primary:active, .has-switch span.switch-left:active, .has-switch span.switch-primary.active, .has-switch span.switch-left.active, .has-switch span.switch-primary.disabled, .has-switch span.switch-left.disabled, .has-switch span.switch-primary[disabled], .has-switch span.switch-left[disabled] {
    background-color: #048918 !important;
    color: #FFFFFF;
}

.has-switch span.switch-primary, .has-switch span.switch-left {
    background-color: #43bd55 !important;
}

.has-switch {
    min-width: 182px !important;
}

    .has-switch span.switch-right {
        background-color: #ED4E2A !important;
        color: #FFFFFF !important;
    }

.select2-container .select2-choice {
    background-image: none !important;
    border-radius: 0px !important;
    border: 1px solid #E5E5E5;
}

    .select2-container .select2-choice .select2-arrow {
        background: none !important;
        background-color: #e6e7e9 !important;
    }

.select2-dropdown-open .select2-choice {
    background-color: #FFFFFF !important;
}

.select2-drop-active {
    background-color: -moz-use-text-color #E5E5E5 #E5E5E5 !important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    margin-left: 50px;
}

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

.ReducedAndFreeClass {
    min-height: 10px;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primar {
    background-color: #43bd55 !important;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    background-color: #ed4e2a !important;
    color: white !important;
}

.bootstrap-switch {
    min-width: 195px;
}

.fRlblCSS {
    color: #1f823e;
    font-size: 12px;
}

.rowFreeRedCSS {
    display:none;
}
