.portlet > .portlet-body.blue, .portlet.blue
{
    background-color: #1676b8 !important;
}

.portlet.box.blue > .portlet-title
{
    background-color: #1676b8;
}

.btn-group .btn.blue.dropdown-toggle
{
    background-color: #000;
}

.btn-group .btn.blue.dropdown-toggle, .btn.blue
{
    background-color: #000 !important;
}

.portlet > .portlet-title > .actions > .btn-group
{
    margin-top: 6px;
}

.btn.green, .btn.green:active
{
    background-color: #1676b8 !important;
}

    .btn.green:hover
    {
        background-color: #084c7b !important;
    }

.portlet.box.green
{
    border-color: white;
}

.portlet.box > .portlet-body
{
    padding-left: 10px;
}

.portlet-body form
{
    margin-right: -30px;
    margin-left: 0px;
}

.rightdropDown
{
    border: 0px solid #DDDDDD;
    margin-top: 8px;
    background-color: black;
    color: white;
    padding-right: 0px;
    margin-right: 0px;
    width: 220px;
    padding-bottom: 6px;
}

    .rightdropDown > li > a
    {
        border: 0px solid #DDDDDD;
        margin-top: 4px;
        background-color: black;
        color: white;
        padding-right: 0px;
        line-height: 6px;
    }


    .rightdropDown li a:active, .rightdropDown li a:link
    {
        background-color: black;
        color: white;
    }

    .rightdropDown li a:hover
    {
        background-color: gray;
        color: #fff;
    }

.tabsClass > li.active > a
{
    color: #000 !important;
    font-weight: bold !important;
}

.tabsClass > li > a
{
    color: #1676b8 !important;
    font-weight: bold;
}

.portlet > .portlet-title > .actions
{
    margin-top: 0px;
}

.submitClass
{
}

.newDist
{
    background-color: #37a847;
    color: white;
    margin-bottom: 15px;
}


/*WM - [11.04.2014] */
.btn.blue,
.btn.blue:active

{
    background-color: #1676b8 !important;

}

    .btn.blue:hover,.btn.blue:focus
    {
        background-color: #084c7b !important;
    }

.portlet.box.blue
{
    border-color: white;
}

.adminlblCSS
{
    width: 63px;
}

.selectCustDivCss
{
    color: #FFFFFF !important;
    margin-top: -5px;
    padding-left: 9px;
    float:left;
}

.selectCustBtnCss
{
    width:124px;
}

    .modal-dialog {
        width: 992px;
    }

    .centerClass {
        text-align: center;
    }

    .modal-footer {
        text-align: center;
    }

    .modalfooterinnner {
        background-color: #efebeb;
        height: 62px;
        padding-top: 14px;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 4px;
    }

    .cNam {
        font-size: 16px;
        font-weight: bold;
    }

    .radio input[type="radio"], .radio-inline input[type="radio"] {
        margin-left: 0px;
    }
