
.marginclass
{
    margin-bottom: 20px;
}

.selectedBtn, .selectedBtn:hover, .selectedBtn:focus, .selectedBtn:active,.unselectedBtn:hover,  .btn.default:active
{
    /*background-color: #333e4f !important;*/
    color: white !important;
}


.unselectedBtn
{
    background-color: #fff !important;
    color: #333e4f !important;
    border: 1px #333e4f solid !important;
}

.marginTileBtn
{
    margin-left: 5px;
}

.modal-backdrop {
    /* bug fix - no overlay */    
    z-index: -1; 
}