.select2-container .select2-choice {
    background-image: none !important;
    border-radius: 0px !important;
    border: 1px solid #E5E5E5;
}

    .select2-container .select2-choice .select2-arrow {
        background: none !important;
        background-color: #939598 !important;
    }

        .select2-container .select2-choice .select2-arrow b {
            background: url("../../Images/select2.png") no-repeat scroll 0 1px rgba(0, 0, 0, 0);
        }

.select2-dropdown-open .select2-choice {
    background-color: #FFFFFF !important;
}

.select2-drop-active {
    background-color: -moz-use-text-color #E5E5E5 #E5E5E5 !important;
}
