
.marginclass
{
    margin-bottom: 20px;
}

.selectedBtn, .selectedBtn:hover, .selectedBtn:focus, .selectedBtn:active
{
    background-color: #333e4f !important;
    color: white !important;
    padding-bottom:8px;
    padding-top:8px;
}


.unselectedBtn
{
    background-color: #fff !important;
    color: #333e4f !important;
    border: 1px #333e4f solid !important;
    height: 36px;
}

.marginTileBtn
{
    margin-left: 5px;
}

.btn.default:hover, 
.btn.default:focus, 
.btn.default:active, 
.btn.default.active, 
.btn.default[disabled], 
.btn.default.disabled
{
  /*background-color: #333e4f !important;*/
}

.fasize
{
    font-size:17px;
}
.fadeactiveColr
{
     color:red;
}

.faActiveColr
{
     color:green;
}
.faseparator
{
    font-size:17px;
    color:#d8d4d4;
}
.zeroCount
{
    color:#d8d4d4;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{
    vertical-align:middle !important;
}
.zeroUsersCSS
{
    color:#d1d1d1;
}