


<div class="modal fade" id="AdminOlnyModal" tabindex="-1" role="basic" aria-hidden="true">

    <div class="modal-dialog" style="width: 408px; margin-top: 193px;">
        <div class="modal-content">
            <div class="modal-header  adminOnlyPopHeaderCSS">
                <button type="button" class="close not-default-btn" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">
                    <span>
                        <i class="fa fa-window-maximize"></i>
                        <label id="calNamelbl">ADMIN ONLY</label>
                    </span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height: 125px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">&nbsp</div>
                    <div class="row" id="divCalendarName">
                        <div class="col-md-12">
                            <label class="">
                                This function will reset every item for the current month back to an Admin Only status. Users will not be able to see or order while items are in this state. 
                                <br />
                                <br />
                                Would you like to proceed ?
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>

                   


                </div>
            </div>
            <div class="modal-footer" style="border-top: 0px;">
                <button id="btnAdminOnly" type="button" class="btn blue AdminOnlyBtn savaForm btn-lg margleft10">Yes</button>
                <button type="button" class="btn default not-default-btn btn-lg" data-dismiss="modal">No</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
