


<div class="modal fade" id="DeleteIIemModal" tabindex="-1" role="basic" aria-hidden="true">

    <div class="modal-dialog" style="width: 408px; margin-top: 193px;">
        <div class="modal-content">
            <div class="modal-header  deletePopHeaderCSS">
                <button type="button" class="close not-default-btn" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">
                    <label id="calNamelbl">REMOVE  ITEM </label>
                </h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height: 90px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">&nbsp</div>
                    <div class="row" id="divCalendarName">
                        <div class="col-md-12">
                            <label class="">
                                Are you sure you want to remove this item?
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>


                    <input value="0" id="menus_id" name="menus_id" type="hidden">
                    <input value="0" id="startDate" name="startDate" type="hidden">
                    <input value="0" id="webCalID" name="webCalID" type="hidden">

                </div>
            </div>
            <div class="modal-footer" style="border-top: 0px;">
                <button id="btnConfirmDelete" type="button" class="btn btn-danger savaForm btn-lg margleft10">YES</button>
                <button type="button" class="btn green btn-lg not-default-btn" data-dismiss="modal">NO</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
