


<div class="modal fade" id="ItemSchedulerModal" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog" style="width: 380px; height:280px; margin-top: 112px;">
        <div class="modal-content">
            <div class="modal-header itemshedulerPopHeaderCSS">
                <button type="button" class="close not-default-btn" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">
                    <i class="fa  fa-calendar-o"></i>&nbsp;
                    <label id="calNamelbl">ITEM SCHEDULER</label>
                </h4>
            </div>
            <div class="modal-body">
                <div id="itemSchedulerCal" style=" height:220px; width:350px; " class="box"></div>
            </div>
            <div class="modal-footer itemSchedulerFooterCSS" style="border-top: 0px;">
                <button id="btnItemScheduler" type="button" class="btn blue ItemSchedulerBtn btn-lg margleft10">OK</button>
                <button type="button" class="btn default not-default-btn btn-lg" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
